{% extends 'shop/base.html' %}
{% load static %}
{% block body %}
  <link rel="stylesheet" href="{% static 'shop/style.css' %}" />
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="get" class="card card-sm">
          {% csrf_token %}
          <div class="card-body no-gutters align-items-center row">
            <div class="col">
              <input class="form-control" type="search" name="item_name" id="" placeholder="search for item" />
            </div>
            <div class="col-auto">
              <button class="btn btn-success">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      {% for product in products %}
        <div class="col-md-3">
          <div class="card">
            <img src="{{ product.image }}" alt="" class="card-img-top" />
            <div class="card-body">
              <div class="card-title" id="nm{{ product.id }}">{{ product.title }}</div>
              <div class="card-text" id="pr{{ product.id }}">${{ product.price }}</div>
              <a href="{% url 'shop:details' product.id %}" class="btn btn-warning">view</a>
              <button class="btn btn-warning atc" id="{{ product.id }}">add to cart</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <br />
    <div class="row">
      <nav class="col-md-3 offset-md-5" aria-label="pagination">
        <ul class="pagination">
          {% if products.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
            </li>
          {% endif %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ products.number }}">{{ products.number }}</a>
          </li>

          {% if products.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div> <!-- container -->

  <script>
    console.log(localStorage)
    console.log(localStorage.getItem('cart') === null)
    if (localStorage.getItem('cart') === null) {
      var cart = {}
    } else {
      var cart = JSON.parse(localStorage.getItem('cart'))
    }
    
    $(document).on('click', '.atc', function () {
      var id = this.id.toString()
      console.log(id)
      console.log(cart[id])
      console.log(document.getElementById('pr' + id).textContent.replace('$', ''))
      if (cart[id] == undefined) {
        cart[id] = {}
        cart[id]['qty'] = 1
        cart[id]['name'] = document.getElementById('nm' + id).textContent
        cart[id]['price'] = document.getElementById('pr' + id).textContent.replace('$', '')
      } else {
        cart[id]['qty'] = cart[id]['qty'] + 1
      }
      localStorage.setItem('cart', JSON.stringify(cart))
      cartEl = document.getElementById('cart')
      cartEl.innerHTML = 'Cart(' + Object.keys(cart).length + ')'
      displayCart()
    })
  </script>
{% endblock %}
